

title{

  font-size: large;

}



h2 {
font-family: 'Montserrat', sans-serif;
font-size:3rem;
}

h1 {
font-family: 'Montserrat', sans-serif;
}

body{
  background-color:#CFF5E7 ;
  padding-top:3%
}


#carouselExampleCaptions .carousel-item img{

object-fit: cover;
object-position: center;
max-height: 50vh;
overflow: hidden;
}


.container-fluid{

padding: 3% 7%;

}



.container-fluid_custom{

  padding: 3% 7%;
  
  }


  .container-fluid_custom2{

    padding: 10% 10% 10% 10%;
    
    }
  
 